@model IEnumerable<Notentool.Models.Entities.Semester>

@{
    ViewData["Title"] = "Semester";

}

<div>
    <h4>Deine Semester</h4>
</div>
<hr />

<p>
    Erstelle <a asp-action="Create">hier</a> ein neues Semester
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Aktionen</th>
            <th>Durchschnitt des Semesters</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var average = Average.CalculateForSemester(item);
            <tr>
                <td>
                    <a asp-area="" asp-controller="Moduls" asp-action="Index" asp-route-semesterId="@item.SemesterID">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SemesterID">Bearbeiten</a> |
                    <a asp-action="Delete" asp-route-id="@item.SemesterID">Löschen</a>
                </td>
                <td>
                    <p>Durchschnitt: @average</p>
                </td>
            </tr>
        }
    </tbody>
</table>
