@{
    ViewData["Title"] = "Note";
}

<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("NoteErstellen", "Note", FormMethod.Post))
{
    <!-- form goes here -->

    <table>
        <tr>
            <td>
                @Html.Label("Note")
            </td>
            <td>
                @Html.TextBoxFor(grade => grade.note)
            </td>            
            <td>
                @Html.Label("Namen")
            </td>
            <td>
                @Html.TextBoxFor(grade => grade.name)
            </td>            
            <td>
                @Html.Label("Gewichtung")
            </td>
            <td>
                @Html.TextBoxFor(grade => grade.gewichtung)
            </td>
        </tr>
    </table>

    <input type="submit" value="Modul hinzufügen" />

}